--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks2_bn_128__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks3_bn_256__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks4_bn_512__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet34_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet50_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet101_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet152_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json --loss-funct vectran_mapping_L2
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json --loss-funct vectran_mapping_L1
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json --loss-funct pseudoLap1
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads4_feat256_blocks4_ffmaps512__h2o__out512.json --loss-funct lovasz_hinge
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads1_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads2_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads8_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads16_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads1_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads2_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads8_feat256_blocks4_ffmaps512__h2o__out512.json
--model-spec /code/vectran/models/specs/resnet18_blocks1_bn_64__c2h__trans_heads16_feat256_blocks4_ffmaps512__h2o__out512.json
